@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
body{
    background: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.obg img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.roxo {
    background: -webkit-linear-gradient(#8b5cf6, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .laranja {
    background: -webkit-linear-gradient(#f59e0b, #ef4444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }